h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, a:hover, p a:hover, .portfolio_share .social_share_holder a:hover, .breadcrumb .current, .breadcrumb a:hover, .q_icon_with_title .icon_with_title_link, .q_counter_holder span.counter, .q_font_awsome_icon i, .q_font_awsome_icon span, .q_dropcap, .q_counter_holder span.counter, nav.mobile_menu ul li a:hover, nav.mobile_menu ul li.active > a, .q_progress_bars_icons_inner.square .bar.active i, .q_progress_bars_icons_inner.circle .bar.active i, .q_progress_bars_icons_inner.normal .bar.active i, .q_font_awsome_icon_stack .fa-circle, .footer_top .q_social_icon_holder:hover .simple_social, .more_facts_button:hover, .box_holder_icon .fa-stack i, .blog_large_image_simple .minimalist_date, nav.content_menu ul li.active:hover i, nav.content_menu ul li:hover i, nav.content_menu ul li.active:hover a, nav.content_menu ul li:hover a, .vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover span, .vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item.vc_active span, .q_font_awsome_icon i:hover, .q_font_awsome_icon span:hover, .fullscreen_search_holder .search_submit:hover {
	color: #95d0ef !important;
}
p {
	font-family: "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Arial, "MS P ゴシック", sans-serif !important;
	font-weight: normal;
}
::selection {
	color: #000 !important;
}
* {
/*border:1px solid red;*/
}
.vc_column_container>.vc_column-inner {
	box-sizing: border-box;
	padding-left: 35px !important;
	padding-right: 35px !important;
	width: 100%;
}
.qode_image_gallery_no_space .controls a.prev-slide span, .qode_image_gallery_no_space .controls a.next-slide span {
	-webkit-transform: translateY(-45%) !important;
	-moz-transform: translateY(-45%) !important;
	-ms-transform: translateY(-45%) !important;
	-o-transform: translateY(-45%) !important;
	transform: translateY(-45%) !important;
	line-height: 45px !important;
}
nav.main_menu ul li:hover a {
	color: #95d0ef !important;
}
.drop_down .second .inner > ul > li > a:hover {
	color: #95d0ef !important;
}
.container .container_inner.news-section, .slider-top {
	width: 95%;
	margin: 0 auto;
}
.container_inner.news-section {
	width: 97.5% !important;
}
#news-page {
	width: 95%;
	padding: 0 45px;
	margin: 0 auto;
}
.custom-width {
	width: 98%;
	margin: 0 auto !important;
}
.custom-width .wpb_content_element.left {
	text-align: left;
}
.wpcf7-form-control wpcf7-submit {
	border-color: #95d0ef !important;
	background-color: #95d0ef !important;
}
.container .container_inner .news-articles {
}
.container .container_inner .news-articles ul {
	list-style: none;
	color: #222222;
	font-size: 14px;
	font-style: normal;
}
input.wpcf7-form-control.wpcf7-submit, input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
	border-color: #95d0ef !important;
	background-color: #95d0ef !important;
}
.container .container_inner .news-articles ul li {
	margin: 5px 0;
}
.container .container_inner .news-articles ul li span {
	margin-right: 10px;
	color: #222222;
	font-size: 14px;
	font-style: normal;
}
.container .container_inner .news-articles ul li a {
	color: #222222;
	font-size: 14px;
	font-style: normal;/*text-decoration: underline;*/
}
.container .container_inner .news-articles ul li a:hover {
	color: #95d0ef;
}
.social_share_dropdown ul {
	width: 105px !important;
	height: 30px !important;
}
.social_share_dropdown ul li {
	display: inline-block !important;
	padding: 0 5px !important;
}
.social-share {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}
.social-share .social_share_title {
	font-size: 14px;
	color: #303030;
}
.social-share:hover .drop-down {
	visibility: visible;
}
.social-share .drop-down {
	display: block;
	left: -30px;
	/* -webkit-transform: translateX(-50%); */
	/* transform: translateX(-50%); */
	margin: 0;
	padding: 10px 0 0;
	position: absolute;
	top: 100%;
	width: 110px;
	visibility: hidden;
	z-index: 950;
}
.social-share .drop-down .inner_arrow {
	display: block;
	position: absolute;
	top: -6px;
	left: 45px;
	width: 0;
	height: 0;
	border-color: transparent transparent #323232;
	border-style: solid;
	border-width: 9px;
	z-index: 999;
}
.social-share .drop-down ul {
	list-style: none;
	position: relative;
	display: block;
	background-color: #323232;
	z-index: 990;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 0!important;
	width: 110px !important;
	height: 30px !important;
}
.social-share .drop-down ul li {
	display: inline-block !important;
	padding: 0 5px !important;
	position: relative;
	text-align: center;
	margin: 0;
}
.social-share .drop-down ul li a {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 5px 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0!important;
}
.social-share .drop-down ul li i {
	font-size: 17px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	color: #fff;
	text-align: center;
}
.social-share .drop-down ul li i:hover {
	color: #95d0ef !important;
}
.footer_bottom_holder {
	padding-bottom: 10px !important;
}
.admin-bar header.fixed .header_inner_right, .admin-bar header.sticky.sticky_animate .header_inner_right, body.side_menu_slide_with_content header.sticky .header_inner_right ul.language {
	margin-top: 0px;
}
.header.scroll_header_top_area.stick.scrolled_not_transparent.page_header .header_inner_right ul.language {
	margin-top: 0px;
}
header.sticky.sticky_animate .header_inner_right ul.language {
	margin-top: 0px;
}
.artist_profile p a {
	color: #95d0ef !important;
	text-decoration: underline;
}
.artist_profile p a:hover {
	text-decoration: none;
}
.comment_holder {
	display: none !important;
}
nav.main_menu ul li.active a {
	color: #95d0ef !important;
}
.artist-photo .post_image {
	height: 250px;
	text-align: center;
	margin-top: 35px;
}
.artist-photo .post_image img {
	width: 200px;
	overflow: hidden;
	object-fit: cover;
}
.top-page ul li .image {
	height: 510px;
	width: 50% !important;
	margin: 0 auto;
}
.top-page ul li .image img {
	max-width: 100%;
	height: 510px;
	vertical-align: middle;
	object-fit: contain;
}
#top-slider #flex-nav .flex-prev {
	left: -10px !important;
}
#top-slider #flex-nav .flex-next {
	right: 10px !important;
}
#slider-one #flex-nav a {
	opacity: 0.25 !important;
	height: 100%;
}
#slider-one #flex-nav li a div {
	position: absolute;
	top: 50%;
}
#slider-one #flex-nav li a.flex-prev {
	left: 30px;
}
#slider-one .slides li a:hover #flex-nav a {
	opacity: 1 !important;
}
#slider-one #flex-nav a:hover {
	opacity: 1 !important;
}
.flex-control-nav {
	bottom: -34px;
	position: absolute;
	left: 50%;
}
.flex-control-nav li a {
	background: #000000;
	color: #FFF;
}
#top-demo-slider .flex-direction-nav {
}
#exhibition-post {
	margin-bottom: 40px;
}
#exhibition-post #slider-one .slides li {
}
nav.main_menu ul li:hover a.no_link {
	color: #222222 !important;
}
.drop_down .second .inner > ul > li > a.no_link:hover {
	color: #C9C9C9 !important;
}
ul.language li:last-child {
	color: #222222 !important;
}
.drop_down .narrow .second .inner ul li a {
	color: #C9C9C9 !important;
}
.portfolio_single .flexslider {
	/* max-width: 66.66% !important;*/
	z-index: 1;
	visibility: visible;
}
.follow.wpb_column.vc_column_container.vc_col-sm-3 {
	width: auto;
}
.vc_row.wpb_row.section.vc_row-fluid.custom-width.follow {
	padding: 0 50px;
	padding-bottom: 20px;
}
.follow.wpb_column.vc_column_container.vc_col-sm-3 .vc_column-inner, .social-icons.wpb_column.vc_column_container.vc_col-sm-9 .vc_column-inner {
	padding: 0px !important;
}
.social-icons.wpb_column.vc_column_container.vc_col-sm-9 .q_social_icon_holder {
	display: inline-block;
	position: relative;
	margin-top: -10px;
}
.vc_row.wpb_row.section.vc_row-fluid.custom-width.section-abt-contact {
	padding-bottom: 0 !important;
}
.vc_row.wpb_row.section.vc_row-fluid.custom-width.follow .full_section_inner {
	margin-top: -30px;
}
.exibition_inner, .news_container {
	padding: 0 45px;
}
.exibition_inner h3.title {
	text-align: left;
	font-size: 14px;
	padding: 5px 0px;
	height: auto;
	text-transform: uppercase;
	color: #000 !important;
}
.exibition_inner h3.title span {
	color: #000;
}
#exhibition-post h6.exibition-title {
	margin-bottom: 10px;
	text-transform: none !important;
}
.drop_down .narrow .second .inner ul li {
	padding: 0;
	width: 120px !important;
}
.drop_down .second {
	top: 60% !important;
}
#exhibition-post .portfolio_detail .info span.s1 a {
	text-decoration: underline;
}
#exhibition-post .portfolio_detail p {
	padding: 10px 0;
}
.portfolio_container .column2 {
	display: table-cell;
	height: 270px;
	vertical-align: middle;
	text-align: left;
}
.portfolio-details .portfolio_detail .info a {
	text-decoration: underline;
	color: #95d0ef;
}
.portfolio-details .portfolio_detail .info a:hover {
	text-decoration: none;
}
.vc_row.wpb_row.section.vc_row-fluid.custom-width.about.disable_negative_margin.full_screen_section {
}
.fa-stack {
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	margin-right: 15px !important;
}
.text-center.wpb_column.vc_column_container.vc_col-sm-6 {
	margin-top: 5%;
}
.gallery_holder ul.v2 li, .wpb_gallery_slides .gallery_holder ul.v2 li {
	width: 45% !important;
	margin: 0 10px 0 0 !important;
}
.q_logo a {
	height: 25px !important;
}
.portfolio_container #slider-one {
	margin: 0;
}
.portfolio_container #slider-one ul li img {
	height: 750px;
	object-fit: contain;
}
.portfolio_container .title {
	text-align: left;
	font-size: 14px;
	padding: 5px 0px;
	height: auto;
	text-transform: none;
	color: #000 !important;
}
.portfolio_gallery .artist-works-panel.v6 {
	width: 15.5%;
	margin: 0 1% 0% 0;
	float: left;
	text-align: center;
}
.portfolio_gallery .artist-works-panel.v6:last-child {
	margin: 0 0% 0% 1%;
}
.portfolio_container .column2 .artist_profile {
	margin-bottom: 10px;
}
.portfolio_container .column2 .artist_profile h6 {
	text-transform: none;
}
.portfolio_container .artist-all-work {
	float: left;
	margin: 0 0 35px 0;
	width: 100%;
}
.portfolio_container .artist-all-work .date .timestamp {
	font-family: "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Arial, "MS P ゴシック", sans-serif !important;
	font-weight: normal;
}
.portfolio_single .portfolio_gallery .videos-panel .video-container {
}
.portfolio_single .portfolio_gallery .videos-panel .video-container li {
	position: relative;
	height: 300px;
	list-style: none;
	float: left;
	margin-right: 5px;
}
.video-container iframe, .video-container object, .video-container embed {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: auto !important;
}
.past-exhibition-details ul.events {
	float: left;
	list-style: none;
	margin-right: 25px;
}
.past-exhibition-details ul.post-list {
	list-style: none;
}
.past-exhibition-cont .group {
	width: 100%;
	float: left;
	padding-bottom: 5px;
}
.past-exhibition-cont, .news-articles ul li {
	font-family: "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Arial, "MS P ゴシック", sans-serif !important;
	font-weight: normal;
}
.past-exhibition-cont .year {
	margin-right: 40px;
	float: left;/*min-height: 50px;*/

}
.past-exhibition-cont .group:first-child .year {
	visibility: visible !important;
}
.past-exhibition-cont .group:last-child {
	margin-bottom: 20px;
}
.past-exhibition-cont .post-title, .past-exhibition-cont .acf-data {
	float: left;
}
.past-exhibition-cont .post-title a {
	color: #95d0ef;
}
.past-exhibition-cont .post-title a:hover {
	text-decoration: underline;
}
.past-exhibition-cont .acf-data {
	margin-right: 25px;
}
.acf-data ul {
	list-style: none;
}
.past-exhibition-details {
	display: none;
}
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, textarea.wpcf7-form-control.wpcf7-textarea {
	text-transform: none !important;
}
.artist_container {
	padding: 0 45px;
}
.artist_container .title {
	text-align: left;
	font-size: 14px;
	padding: 5px 0px;
	height: auto;
	text-transform: uppercase;
	color: #000 !important;
}
#artist-page article .qbutton.white {
	border-color: #FFF !important;
	color: #ffffff !important;
	background-color: #FFF !important;
	opacity: 0.2;
}
#artist-page article .feature_holder, .projects_holder article .feature_holder .feature_holder_icons {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
}
#artist-page article .image_holder .text_inner .feature_holder_icons a {
	padding: 0 17px;
	height: 100%;
	width: 100%;
}
#artist-page h2.portfolio_title {
	font-size: 18px;
	text-transform: none;
}
footer {
	width: 100%;
	margin: 0 auto;
	z-index: 100;/*position: absolute !important;
    bottom: 0 !important;*/
}
#back_to_top span {
	width: 53px !important;
	margin-right: 0 !important;
}
#back_to_top:hover span {
	background-color: #95d0ef !important;
	border-color: #95d0ef !important;
	background: #95d0ef !important;
}
div.ppt {
	display: none !important;
}
div.pp_default .pp_nav {
	position: absolute !important;
	top: 100% !important;
}
div.pp_default .pp_close {
	position: absolute !important;
	top: 100% !important;
}
div.pp_default .pp_description {
	margin: 5px !important;
	color: #FFF;
	font-family: "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Arial, "MS P ゴシック", sans-serif !important;
	font-weight: normal;
	line-height: 20px !important;
}
div.ppt p {
	display: none !important;
}
.news_container article.news_article {
	margin-bottom: 50px;
}
article.category-news .post_text h2 .date {
	margin-right: 15px;
	font-family: "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Arial, "MS P ゴシック", sans-serif !important;
	font-weight: normal;
}
#artist-page article .image_holder .text_inner .feature_holder_icons a.lightbox.qbutton.small.white, #back_to_top {
	display: none;
}
.mobile_menu_button {
	float: right !important;
}
.portfolio_single_text_holder p a {
	color: #95d0ef !important;
	text-decoration: underline;
}
.portfolio_single_text_holder p a:hover {
	text-decoration: none;
}
.page_not_found {
	margin-top: 80px !important;
}
.projects_holder article .image_holder:hover .image img {
	-webkit-transform: none !important;
	transform: none !important;
}
.projects_holder article span.text_holder, .projects_masonry_holder .text_holder {
	background-color: rgba(0,0, 0, 0) !important;
}
.projects_holder_outer:not(.masonry_with_space) .projects_holder.portfolio_one_by_one article.show {
	cursor: pointer;
}
.cbp-rfgrid a {
	margin-right: 5px;
	height: 100px;
	margin-bottom: 5px;
}
.cbp-rfgrid a img {
	width: auto !important;
	height: 100px;
}
.portfolio_container .column2 .column_inner {
	padding: 0 0 0 20px;
	position: relative;
	top: 40%;
}
.portfolio .portfolio_container .column2 .column_inner {
	width: 50%;
	margin: 0 auto;
}
.portfolio_container .portfolio_single .portfolio_gallery {
	margin: 0 0 3px;
	margin-top: 32px;
}
.blog_holder.blog_large_image article .post_text h2 .date, .blog_holder.blog_single article .post_text h2 .date {
	margin-right: 15px;
	font-family: "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Arial, "MS P ゴシック", sans-serif !important;
	font-weight: normal;
}
#exhibition-post #slider-one ul li img {
	object-fit: contain;
}
#exhibition-post .column2 {
	height: 140px;
}
.portfolio_container #slider-one .slides li {
	height: 500px;
}
.portfolio_container #slider-one .slides li img {
	height: 500px;
}
.portfolio_container p.title {
	margin-bottom: 10px;
}
#artist-profile h5 {
	text-transform: none;
}
#artist-profile .vc_column-inner {
	padding-left: 15px !important;
}
#artist-profile .column2 {
	height: auto;
}
#artist-page div.section .full_section_inner .vc_column_container .vc_column-inner {
	padding-left: 60px !important;
	padding-right: 60px !important;
}
.artist-post-list.projects_holder.portfolio_main_holder.clearfix.v6.standard.portfolio_square_image.portfolio_one_by_one.hideItems {
	width: 100%;
}
.lb-outerContainer {
	background-color: transparent !important;
}
.lb-data .lb-caption, .lb-data .lb-number {
	font-family: "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Arial, "MS P ゴシック", sans-serif !important;
	font-weight: normal;
}
#artist-profile .column1 {
	width: 100%;
}
#artist-profile .column2 {
	position: absolute;
	right: 0%;
}
#map {
	height: 100%;
	height: 600px !important;
}
.pp_hoverContainer {
	display: block !important;
}

@media all and (min-width: 1024px) and (max-width: 1200px) {
.text-center.wpb_column.vc_column_container.vc_col-sm-6 {
	margin-top: 1%;
}
.portfolio_gallery .artist-works-panel .work-image img {
	height: 100px;
}
.projects_holder.v6 .mix, .projects_holder.v6.hover_text .mix {
	width: 15.5% !important;
}
#slider-one #flex-nav li a div {
	position: absolute;
	top: 45%;
}
.portfolio_container #slider-one .slides li {
	height: 350px;
}
.portfolio_container #slider-one .slides li img {
	height: 350px;
}
}

@media all and (min-width: 1024px) and (max-width: 1500px) {
.portfolio_container #slider-one .slides li {
	height: 350px;
}
.portfolio_container #slider-one .slides li img {
	height: 350px;
}
#slider-one #flex-nav li a div {
	position: absolute;
	top: 42%;
}
#news-page {
	width: 93%;
}
}

@media all and (min-width: 780px) and (max-width: 1024px) {
.portfolio_single .flexslider {
	max-width: 100% !important;
	z-index: 1;
}
.vc_row.wpb_row.section.vc_row-fluid.custom-width.follow {
	padding: 0 50px;
}
.follow.wpb_column.vc_column_container.vc_col-sm-3 {
	width: auto;
}
#slider-one ul li .image img, #slider-one ul li .image {
/* width: 100%;
    height: 417px;
    vertical-align: middle;
    object-fit: cover;*/
}
.text-center.wpb_column.vc_column_container.vc_col-sm-6 {
	margin-top: 0px;
}
}

@media all and (min-width: 320px) and (max-width: 780px) {
.exibition_inner #exhibition-post .column2 {
	margin-top: 5%;
}
.top-page ul li .image {
	height: 204px;
	width: 100% !important;
}
.top-page ul li .image img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	object-fit: contain;
}
ul.language {
	margin-top: 38px !important;
	left: 0;
}
.header_inner_right {
	float: left !important;
}
#slider-one ul li .image img, #slider-one ul li .image, .feat-image, .feat-image img {
/*height: 204px;*/
}
.artist-photo .post_image {
	float: none;
	text-align: center;
}
.follow.wpb_column.vc_column_container.vc_col-sm-3 {
	width: 100px;
	float: left;
}
.follow.wpb_column.vc_column_container.vc_col-sm-3 .vc_empty_space {
	height: auto !important;
}
.portfolio_single .flexslider {
	max-width: 100% !important;
}
.exibition_inner #exhibition-post .column2, .portfolio_container .column2 {
	width: 100% !important;
}
.vc_row.wpb_row.section.vc_row-fluid.custom-width.follow {
	padding: 0 45px;
}
.vc_row.wpb_row.section.vc_row-fluid.custom-width.follow .full_section_inner {
	margin-top: 0px;
}
.text-center.wpb_column.vc_column_container.vc_col-sm-6 {
	margin-top: 0px;
}
footer {
	position: relative !important;
}
.page_not_found {
	margin-top: auto !important;
}
.logo_wrapper {
	left: 20% !important;
}
.mobile_menu_button {
	float: left !important;
	margin-left: 70% !important;
}
.portfolio_container .column2 {
	height: auto;
}
.portfolio_container .column1 #slider-one .slides li {
	height: 200px !important;
}
.portfolio_container #slider-one ul li img {
	height: 200px !important;
	object-fit: contain;
}
.portfolio_container #slider-one #flex-nav li a div {
	position: absolute;
	top: 45%;
}
.portfolio_container .portfolio_single .portfolio_gallery {
	margin: 0 0 3px;
	margin-top: 20px;
}
#slider-one #flex-nav a {
	opacity: 0 !important;
	height: 100%;
}
.cbp-rfgrid a {
	width: 100%;
	height: auto;
}
.cbp-rfgrid a img {
	height: auto;
}
#exhibition-post .column2 {
	height: auto !important;
}
#artist-profile .column1 {
	width: auto;
}
#artist-profile .column2 {
	position: relative;
}
.exibition_inner, .news_container, .portfolio, .artist_container, #news-page, .vc_column_container>.vc_column-inner {
	padding: 0 15px !important;
}
.blog_holder.blog_large_image h2, .blog_holder.blog_large_image h2 a, .blog_holder.blog_single article h2 {
	font-size: 18px !important;
	font-family: "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Arial, "MS P ゴシック", sans-serif !important;
}
.portfolio .portfolio_container .column2 .column_inner {
	width: auto;
	margin: 0 auto;
}
.artist-photo .post_image {
	margin-top: 10px;
}
#map {
	height: 100%;
	height: 300px !important;
}
#pp_full_res {
    width: 90%;
    margin: auto;
}
div.pp_default .pp_details {
    width: 95%!important;
    margin-left: 2%;
}
#fullResImage
{
	height:auto !important;
}
.pp_content_container {
    margin-top: 15%;
}
}
@media all and (min-width: 360px) and (max-width: 375px) {
#pp_full_res {
    width: 80%;
    margin: auto;
}
div.pp_default .pp_details {
    width: 90%!important;
    margin-left: 2%;
}	
.pp_content_container {
    margin-top: 12%;
}
#top-slider #flex-nav .flex-next {
    right: -10px !important;
}
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
#pp_full_res {
    width: 80%;
    margin: auto;
}
div.pp_default .pp_details {
    width: 90%!important;
    margin-left: 2%;
}	
div.pp_pic_holder {
    margin-top: 20%;
}
#top-slider #flex-nav .flex-next {
    right: -10px !important;
}
}

.cbp-rfgrid {
	margin: 35px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}
.cbp-rfgrid li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 16.6666667%; /* Fallback */
	width: -webkit-calc(100% / 7);
	width: calc(100% / 7);
	margin-right: 8px;
	margin-bottom: 8px;
}
.cbp-rfgrid li a, .cbp-rfgrid li a img {
	display: block;
	width: 100%;
	object-fit: contain;
}
.cbp-rfgrid li a img {
	max-width: 100%;
	height: 200px;
}
ul.cbp-rfgrid li a {
	height: auto;
}

/* Example for media query: change number of items per row */

@media screen and (max-width: 1190px) {
.cbp-rfgrid li {
	width: 20%; /* Fallback */
	width: -webkit-calc(94% / 6);
	width: calc(94% / 6);
}
}

@media screen and (max-width: 945px) {
.cbp-rfgrid li {
	width: 25%; /* Fallback */
	width: -webkit-calc(95% / 3);
	width: calc(95% / 3);
}
}

@media screen and (max-width: 660px) {
.cbp-rfgrid li {
	width: 33.3333333%; /* Fallback */
	width: -webkit-calc(100% / 2);
	width: calc(100% / 2);
}
}

@media screen and (max-width: 660px) {
.cbp-rfgrid li {
	width: 33.3333333%; /* Fallback */
	width: -webkit-calc(100% / 1);
	width: calc(100% / 1);
}
}

@media screen and (max-width: 400px) {
.cbp-rfgrid li {
	width: 50%; /* Fallback */
	width: -webkit-calc(100% / 1);
	width: calc(100% / 1);
}
.container .container_inner .news-articles ul li span {
	display: block;
}
footer {
	position: relative !important;
}
.past-exhibition-cont .year, .past-exhibition-cont .post-title, .past-exhibition-cont .acf-data {
	width: 100%;
}
}

@media screen and (max-width: 300px) {
.cbp-rfgrid li {
	width: 100%;
}
}
