    /* Webkit */
    ::selection {
    background: #95d0ef;
    }
    /* Gecko/Mozilla */
    ::-moz-selection {
    background: #95d0ef;
    }


    h1 a:hover,
    .box_image_holder .box_icon .fa-stack i.fa-stack-base,
    .q_percentage_with_icon,
    .filter_holder ul li.active span,
    .filter_holder ul li:hover span,
    .q_tabs .tabs-nav li.active a:hover,
    .q_tabs .tabs-nav li a:hover,
    .q_accordion_holder.accordion .ui-accordion-header:hover,
    .q_accordion_holder.accordion.with_icon .ui-accordion-header i,
    .testimonials .testimonial_text_inner p.testimonial_author span.author_company,
    .testimonial_content_inner .testimonial_author .company_position,
    .q_icon_with_title.center .icon_holder .font_awsome_icon i:hover,
    .q_box_holder.with_icon .box_holder_icon_inner .fa-stack i.fa-stack-base,
    .q_icon_with_title.boxed .icon_holder .fa-stack,
    .q_progress_bars_icons_inner .bar.active i.fa-circle,
    .q_list.number ul>li:before,
    .q_social_icon_holder:hover .simple_social,
    .social_share_dropdown ul li :hover i,
    .social_share_list_holder ul li i:hover,
	.blog_holder.blog_masonry_date_in_image .social_share_list_holder ul li i:hover,
    .latest_post_inner .post_infos a:hover,
    .q_masonry_blog article .q_masonry_blog_post_info a:hover,
    .blog_holder article:not(.format-quote):not(.format-link) .post_info a:hover,
    .latest_post_inner .post_comments:hover i,
    .blog_holder article .post_description a:hover,
    .blog_holder article .post_description .post_comments:hover,
    .blog_like a:hover i,
    .blog_like a.liked i,
	.latest_post .blog_like a:hover span,
    article:not(.format-quote):not(.format-link) .blog_like a:hover span,
    .comment_holder .comment .text .replay,
    .comment_holder .comment .text .comment-reply-link,
    .header-widget.widget_nav_menu ul.menu li a:hover,
    aside .widget a:hover,
    aside .widget.posts_holder li:hover,
    .q_steps_holder .circle_small:hover span,
    .q_steps_holder .circle_small:hover .step_title,
    .header_top #lang_sel > ul > li > a:hover,
    .header_top #lang_sel_click > ul > li> a:hover,
    .header_top #lang_sel_list ul li a.lang_sel_sel,
    .header_top #lang_sel_list ul li a:hover,
    aside .widget #lang_sel a.lang_sel_sel:hover,
    aside .widget #lang_sel_click a.lang_sel_sel:hover,
    aside .widget #lang_sel ul ul a:hover,
    aside .widget #lang_sel_click ul ul a:hover,
    aside .widget #lang_sel_list li a.lang_sel_sel,
    aside .widget #lang_sel_list li a:hover,
    .service_table_inner li.service_table_title_holder i,
    .latest_post_two_holder .latest_post_two_text a:hover,
        .q_team .q_team_social_holder .q_social_icon_holder:hover .simple_social,
	.portfolio_template_8 .portfolio_detail .info .category,
	.portfolio_navigation.navigation_title .post_info span.categories,
	.qode_portfolio_related .projects_holder article .portfolio_description .project_category
	{
        color: #95d0ef !important;
    }
	h2 a:hover,
	h3 a:hover,
	h4 a:hover,
	h5 a:hover,
	h6 a:hover,
	a:hover,
	p a:hover,
	.portfolio_share .social_share_holder a:hover,
	.breadcrumb .current,
	.breadcrumb a:hover,
	.q_icon_with_title .icon_with_title_link,
	.q_counter_holder span.counter,
	.q_font_awsome_icon i,
    .q_font_awsome_icon span,
	.q_dropcap,
	.q_counter_holder span.counter,
	nav.mobile_menu ul li a:hover,
	nav.mobile_menu ul li.active > a,
	.q_progress_bars_icons_inner.square .bar.active i,
	.q_progress_bars_icons_inner.circle .bar.active i,
	.q_progress_bars_icons_inner.normal .bar.active i,
	.q_font_awsome_icon_stack .fa-circle,
	.footer_top .q_social_icon_holder:hover .simple_social,
	.more_facts_button:hover,
	.box_holder_icon .fa-stack i,
	.blog_large_image_simple .minimalist_date,
	nav.content_menu ul li.active:hover i,
	nav.content_menu ul li:hover i,
	nav.content_menu ul li.active:hover a,
	nav.content_menu ul li:hover a,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover span,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item.vc_active span,
    .q_font_awsome_icon i:hover,
    .q_font_awsome_icon span:hover,
    .fullscreen_search_holder .search_submit:hover
	{

		color: #95d0ef;
	}

    .box_image_with_border:hover,
    .qbutton:hover,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
    .load_more a:hover,
    .blog_load_more_button a:hover,
    #submit_comment:hover,
    .drop_down .wide .second ul li .qbutton:hover,
    .drop_down .wide .second ul li ul li .qbutton:hover,
    .qbutton.white:hover,
    .qbutton.green,
    .portfolio_slides .hover_feature_holder_inner .qbutton:hover,
    .testimonials_holder.light .flex-direction-nav a:hover,
    .q_progress_bars_icons_inner.square .bar.active .bar_noactive,
    .q_progress_bars_icons_inner.square .bar.active .bar_active,
    .q_progress_bars_icons_inner.circle .bar.active .bar_noactive,
    .q_progress_bars_icons_inner.circle .bar.active .bar_active,
    .widget.widget_search form.form_focus,
    .q_steps_holder .circle_small_wrapper,
    .animated_icon_inner span.animated_icon_back i,
	.blog_holder article.format-link .post_text:hover .post_text_inner,
	.blog_holder article.format-quote .post_text:hover .post_text_inner,

        input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover {
        border-color: #95d0ef    }

    .q_icon_list i,
    .q_progress_bar .progress_content,
    .q_progress_bars_vertical .progress_content_outer .progress_content,
    .qbutton:hover,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
	.post-password-form input[type='submit']:hover,
    .load_more a:hover,
    .blog_load_more_button a:hover,
    #submit_comment:hover,
    .drop_down .wide .second ul li .qbutton:hover,
    .drop_down .wide .second ul li ul li .qbutton:hover,
    .qbutton.white:hover,
    .qbutton.green,
    .call_to_action,
    .highlight,
    .testimonials_holder.light .flex-direction-nav a:hover,
    .q_dropcap.circle,
    .q_dropcap.square,
    .q_message,
    .q_price_table.active .active_text,
    .q_icon_with_title.boxed .icon_holder .fa-stack,
    .q_font_awsome_icon_square,
    .q_icon_with_title.square .icon_holder .fa-stack:hover,
    .box_holder_icon_inner.square .fa-stack:hover,
    .box_holder_icon_inner.circle .fa-stack:hover,
    .circle .icon_holder .fa-stack:hover,
    .q_list.number.circle_number ul>li:before,
    .q_social_icon_holder.circle_social .fa-stack:hover,
    .social_share_dropdown ul li.share_title,
    .latest_post_holder .latest_post_date .post_publish_day,
    .q_masonry_blog article.format-link:hover,
    .q_masonry_blog article.format-quote:hover,
    #wp-calendar td#today,
    .vc_text_separator.full div,
    .mejs-controls .mejs-time-rail .mejs-time-current,
    .mejs-controls .mejs-time-rail .mejs-time-handle,
    .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
    .q_pie_graf_legend ul li .color_holder,
    .q_line_graf_legend ul li .color_holder,
    .q_team .q_team_text_inner .separator,
    .circle_item .circle:hover,
    .qode_call_to_action.container,
    .qode_carousels .flex-control-paging li a.flex-active,
    .animated_icon_inner span.animated_icon_back i,

    	.q_circles_holder .q_circle_inner2:hover,
    input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .portfolio_main_holder .item_holder.subtle_vertical_hover .icons_holder a,
    .portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
    .portfolio_main_holder .item_holder.image_text_zoom_hover .icons_holder a,
    .portfolio_main_holder .item_holder.slow_zoom .icons_holder a,
	.qode_video_box .qode_video_image:hover .qode_video_box_button	{
        background-color: #95d0ef    }


    .q_circles_holder .q_circle_inner2:hover,
	.blog_holder article.format-link .post_text:hover .post_text_inner,
	.blog_holder article.format-quote .post_text:hover .post_text_inner {
        background-color: #95d0ef !important;
        border-color: #95d0ef !important;
    }


    .ajax_loader .pulse,
    .ajax_loader .double_pulse .double-bounce1, .ajax_loader .double_pulse .double-bounce2,
    .ajax_loader .cube,
    .ajax_loader .rotating_cubes .cube1, .ajax_loader .rotating_cubes .cube2,
    .ajax_loader .stripes > div,
    .ajax_loader .wave > div,
    .ajax_loader .two_rotating_circles .dot1, .ajax_loader .two_rotating_circles .dot2,
    .ajax_loader .five_rotating_circles .container1 > div, .ajax_loader .five_rotating_circles .container2 > div, .ajax_loader .five_rotating_circles .container3 > div{
    background-color: #95d0ef;
    }

    body{
    	    	 color: #8d8d8d;     	 font-size: 14px;     	font-weight: 400;    }
            body,
		.wrapper,
        .content,
        .full_width,
        .overlapping_content .content > .container,
		.more_facts_holder,
		.comment_holder .comment #respond textarea,
		.comment_holder .comment #respond input[type='text'],
		.content .container
		{
        	background-color:#ffffff;
        }
		.angled-section polygon{
			fill: #ffffff;
		}
    

	@media only screen and (min-width: 1000px) {
		.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner
		{
			padding-top:60px;
		}
	}










						.content{
				margin-top: -126px;
			}
				
	
.logo_wrapper,
.side_menu_button,
.shopping_cart_inner
{
	height: 126px;
}
.content.content_top_margin{
	margin-top: 126px !important;
}

header:not(.centered_logo) .header_fixed_right_area {
    line-height: 126px;
}

<!---->
<!--.drop_down .second,-->
<!--.drop_down .second.bellow_header-->
<!--{-->
<!--	top: --><!--px;-->
<!--}-->





        header.fixed_hiding .q_logo a,
        header.fixed_hiding .q_logo{
            max-height: 12.5px;
        }

    @media only screen and (max-width: 1000px){
        .q_logo a,.q_logo img{
            height: 80px !important;
        }
    }   

    @media only screen and (max-width: 480px){
        .q_logo a,.q_logo img{
            height: 80px !important;
        }
    }   


    .touch section.parallax_section_holder{
		height: auto !important;
		min-height: 300px;  
		background-position: center top !important;  
		background-attachment: scroll;
        background-size: cover;
	}
nav.main_menu > ul > li > a{
	line-height: 126px;
}



    .drop_down .second .inner ul,
    .drop_down .second .inner ul li ul,
	.shopping_cart_dropdown,
    li.narrow .second .inner ul,
	.header_top .right #lang_sel ul ul,
    .drop_down .wide .second ul li.show_widget_area_in_popup .widget,
	.drop_down .wide.wide_background .second{
    background-color: #222222;
    background-color: rgba(34,34,34,1);
    }


nav.main_menu > ul > li > a{
	 color: #222222; 		font-family: 'Raleway', sans-serif;
		 font-size: 13px;     	 font-style: normal; 	 font-weight: 700; 	 letter-spacing: 0px; 	 text-transform: uppercase; }



nav.main_menu ul li:hover a {
	 color: #1abc9c; }

		nav.main_menu ul li.active a {
			color: #1abc9c		}
	




.drop_down .second .inner > ul > li > a,
.drop_down .second .inner > ul > li > h3,
.drop_down .wide .second .inner > ul > li > h3,
.drop_down .wide .second .inner > ul > li > a,
.drop_down .wide .second ul li ul li.menu-item-has-children > a,
.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a,
.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h5 a,
.drop_down .wide .second .inner > ul li .flexslider ul li  h5 a,
.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h5,
.drop_down .wide .second .inner > ul li .flexslider ul li  h5,
.header_top #lang_sel ul li ul li a {
	 color: #8d8d8d; 		font-family: 'Raleway', sans-serif !important;
		 font-size: 11px; 	 line-height: 20px; 	 font-style: normal;  	font-weight: 700; 	 text-transform: uppercase;  	 letter-spacing: 1px;  }
.drop_down .second .inner > ul > li > a:hover,
.drop_down .wide .second ul li ul li.menu-item-has-children > a:hover,
.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a:hover{
	color: #1abc9c !important;
}
.drop_down .second .inner ul li.sub ul li a:hover,
.drop_down .wide .second ul li.show_widget_area_in_popup:hover .popup_wrapper > a,
.drop_down .second .inner ul li ul li a:hover,
.drop_down .wide.icons .second a:hover i
{
	color: #ffffff !important;
}









	#respond textarea,
	#respond input[type='text'],
	.contact_form input[type='text'],
	.contact_form  textarea,
	.comment_holder #respond textarea,
	.comment_holder #respond input[type='text'],
	input.wpcf7-form-control.wpcf7-text,
	input.wpcf7-form-control.wpcf7-number,
	input.wpcf7-form-control.wpcf7-date,
	textarea.wpcf7-form-control.wpcf7-textarea,
	select.wpcf7-form-control.wpcf7-select,
	input.wpcf7-form-control.wpcf7-quiz,
	.post-password-form input[type='password']
	{
	background-color: #ffffff; 	border: 1px solid #d2d2d2; 	color:#8d8d8d; 	}




.title h1{
	color: #ffffff; 		font-family: 'Raleway', sans-serif;
		font-size: 40px; 		font-style: normal; 	font-weight: 600; }


	.title.title_size_small h1{
	font-size: 40px; 	        
	}
	.title.title_size_large h1{
	font-size: 40px; 		font-weight: 600;          
	}
h2,
.h2,
h2 a{
						    letter-spacing: 1px; 	}
h3,
.h3,
h3 a{
	color: #222222; 		font-size: 23px; 			font-weight: 600;     letter-spacing: 1px; 	}
h4,
.h4,
h4 a{
	color: #222222; 			font-family: 'Raleway', sans-serif;
		font-size: 23px; 	line-height: 35px; 	font-style: normal; 	font-weight: 600;     letter-spacing: 1px; 	text-transform: uppercase; }
h6,
.h6,
h6 a {
	color: #222222; 		font-family: 'Raleway', sans-serif;
		font-size: 13px; 	line-height: 20px; 	font-style: normal;  	font-weight: 600; 	letter-spacing: 1px; 	text-transform: uppercase; }

	.blog_holder article.format-quote .post_text .post_title p,
	.blog_holder article.format-link .post_text .post_title p,
	.blog_holder article.format-quote .post_text .quote_author,
	blockquote h5
	{
	font-size: 17px; 	line-height: 30px; 	letter-spacing: 0px; 	text-transform: none; 	font-style: normal; 	font-weight: 400; 			font-family: 'Raleway', sans-serif;
		}
    p{
    	color: #8d8d8d;    	    		font-family: 'Raleway', sans-serif;
    	    	font-size: 14px;    	line-height: 27px;    	font-style: normal;    	font-weight: 400;    	    	    }
    .filter_holder ul li span,
    blockquote h5,
    .q_social_icon_holder .simple_social,
    .header-widget.widget_nav_menu ul.menu li a,
    .side_menu a,
    .side_menu li,
    .side_menu span,
    .side_menu p,
    .side_menu .widget.widget_rss li a.rsswidget,
    .side_menu #wp-calendar caption,
    .side_menu #wp-calendar th, 
    .side_menu #wp-calendar td,
    aside .widget #lang_sel_list li a,
    aside .widget #lang_sel li a,
    aside .widget #lang_sel_click li a,
    section.side_menu #lang_sel_list li a,
    section.side_menu #lang_sel li a,
    section.side_menu #lang_sel_click li a,
    footer #lang_sel_list li a,
    footer #lang_sel li a,
    footer #lang_sel_click li a,
    footer #lang_sel_list.lang_sel_list_horizontal a,
    footer #lang_sel_list.lang_sel_list_vertical a,
    .side_menu #lang_sel_list.lang_sel_list_horizontal a,
    .side_menu #lang_sel_list.lang_sel_list_vertical a,
    #lang_sel_footer a{
    	color: #8d8d8d;    }
    .header_top #lang_sel > ul > li > a, 
    .header_top #lang_sel_click > ul > li> a,
    footer #lang_sel ul li a,
    footer #lang_sel ul ul a,
    footer #lang_sel_click ul li a,
    footer #lang_sel_click ul ul a,
    footer #lang_sel_click ul ul a span,
    section.side_menu #lang_sel ul li a,
    section.side_menu #lang_sel ul ul a,
    section.side_menu #lang_sel ul ul a:visited,
    section.side_menu #lang_sel_click > ul > li > a,
    section.side_menu #lang_sel_click ul ul a,
    section.side_menu #lang_sel_click ul ul a:visited{
    	color: #8d8d8d !important;    }
    	blockquote h5{
		color: #222222;
	}



	.separator.small,
	.wpb_column>.wpb_wrapper .separator.small {
		height: 1px;background-color: #818181;width: 91px;	}
	



.qbutton,
.qbutton.medium,
#submit_comment,
.load_more a,
.blog_load_more_button a,
.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit,
input.wpcf7-form-control.wpcf7-submit:not([disabled]),
.woocommerce table.cart td.actions input[type="submit"],
.woocommerce input#place_order,
.woocommerce-page input[type="submit"],
.woocommerce .button
	{
	color: #ffffff; 		font-family: 'Raleway', sans-serif;
	
    	border-color: #1abc9c; 
		font-size: 11px; 		line-height: 50px; 		height: 50px; 		font-style: normal; 		font-weight: 800; 		background-color: #1abc9c; 		border-radius: 0px; 		-moz-border-radius: 0px; 		-webkit-border-radius: 0px; 		letter-spacing: 2px; 		text-transform: uppercase; 	 border-width: 0px;		padding-left: 34px; padding-right: 34px; }

	.qbutton:hover,
	.qbutton.medium:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.post-password-form input[type='submit']:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .woocommerce table.cart td.actions input[type="submit"]:hover,
    .woocommerce input#place_order:hover,
    .woocommerce-page input[type="submit"]:hover,
	.woocommerce .button:hover
	{
	 color: #ffffff; 
	 border-color: #11b28e	}

	.qbutton:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.post-password-form input[type='submit']:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .woocommerce table.cart td.actions input[type="submit"]:hover,
    .woocommerce input#place_order:hover,
    .woocommerce-page input[type="submit"]:hover,
	.woocommerce .button:hover
	{
		 background-color: #11b28e; 			}
	.qbutton.small{

		font-size: 11px; 		line-height: 45px; 		height: 45px; 		font-weight: 800; 		padding-left: 24px; 		padding-right: 24px; 			
	}
	.qbutton.white{

		border-color: #1abc9c; 		color: #ffffff; 		background-color: #1abc9c; 	}
	.qbutton.white:hover,
	.portfolio_slides .hover_feature_holder_inner .qbutton:hover {

		border-color: #11b28e; 		color: #ffffff; 		background-color: #11b28e; 	}
	.testimonials_holder .flex-direction-nav a{
		border-radius: 50px;
	}

    .testimonials .testimonial_text_inner p{
    font-size: 18px    }


	.q_counter_holder span.counter{
			font-weight: 600; 				}
	.q_progress_bar .progress_number{
		font-size: 15px; 		font-weight: 600; 	}
	.q_percentage{
		font-size: 30px; 		font-weight: 600; 	}









	.footer_bottom_holder, #lang_sel_footer{
		background-color:#ffffff;
	}



	.footer_bottom_holder{
	padding-bottom: 80px	}
	.footer_bottom{
		padding-top: 80px;
	}







    .footer_bottom_holder,
    .footer_bottom,
    .footer_bottom p,
    .footer_bottom_holder p,
    .footer_bottom span:not(.q_social_icon_holder):not(.fa-stack):not(.qode_icon_font_elegant){
	line-height: 22px	}


.footer_bottom, .footer_bottom span, .footer_bottom p, .footer_bottom p a, .footer_bottom a, #lang_sel_footer ul li a,
footer #lang_sel > ul > li > a,
footer #lang_sel_click > ul > li > a,
footer #lang_sel a.lang_sel_sel,
footer #lang_sel_click a.lang_sel_sel,
footer #lang_sel ul ul a,
footer #lang_sel_click ul ul a,
footer #lang_sel ul ul a:visited,
footer #lang_sel_click ul ul a:visited,
footer #lang_sel_list.lang_sel_list_horizontal a,
footer #lang_sel_list.lang_sel_list_vertical a,
#lang_sel_footer a,
.footer_bottom ul li a {
	color:#8d8d8d;
}



    .side_menu,
    .side_menu #lang_sel,
    .side_menu #lang_sel_click,
    .side_menu #lang_sel ul ul,
    .side_menu #lang_sel_click ul ul{
        background-color: #222222;    }





    .side_menu,
	.side_menu_slide_from_right .side_menu{
    padding-top:55px;padding-right:45px;padding-bottom:45px;padding-left:45px    }


	.blog_holder article.format-link .post_text .post_text_inner,
	.blog_holder article.format-quote .post_text .post_text_inner,
    .blog_single.blog_holder article.format-link .post_text .post_text_inner,
    .blog_single.blog_holder article.format-quote .post_text .post_text_inner {
		background-color: #f8f8f8;
	}
	.blog_holder article.format-link .post_text:hover .post_text_inner,
	.blog_holder article.format-quote .post_text:hover .post_text_inner{
		border-color: #f8f8f8;
	}
	.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_text .post_text_inner{
		padding-left:0;
		padding-right:0;
		background-color:transparent;
	}

	.blog_holder.blog_large_image h2,
	.blog_holder.blog_large_image h2 a,
	.blog_holder.blog_single article h2
	{
	font-family: Raleway;font-size: 24px;line-height: 40px;font-style: normal;font-weight: 600;letter-spacing: 1px;text-transform: uppercase;	}
	.blog_large_image h2 a,
	.blog_holder.blog_single article h2
	{
	color:#222222;
	}
	.blog_large_image h2 a:hover
	{
	color:#1abc9c;
	}
	.blog_holder.blog_large_image article .post_text h2 .date,
	.blog_holder.blog_single article .post_text h2 .date
	{
	color:#cccccc;
	}























	.blog_holder.blog_single article .post_text .post_text_inner{
		padding-top: 35px;
	}
	.blog_holder.blog_single article h2{
		margin-bottom: 5px;
	}
	.blog_holder.blog_single article .post_info{
		margin-bottom: 20px;
	}
    .side_menu_button > a,
    .mobile_menu_button span,
	.fixed_top_header .side_menu_button > a,
    .fixed_top_header .popup_menu .line,
    .fixed_top_header .mobile_menu_button span{ color: #222222; }

    .popup_menu .line,
    .popup_menu .line:after, .popup_menu .line:before{
        background-color: #222222;
    }
    .side_menu_button > a:hover,
    .mobile_menu_button span:hover,
    .popup_menu:hover .line,
    .popup_menu:hover .line:after,
    .popup_menu:hover .line:before{ color: #95d0ef; }

    .popup_menu:hover .line,
    .popup_menu:hover .line:after, .popup_menu:hover .line:before{
        background-color: #95d0ef;
    }
  
 
 .vertical_menu_float .menu-item .second{
	left: calc(100% + 30px); /*because of the padding*/
}

.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
	left: calc(100% + 40px);
}

 
 
 




	.vertical_menu_area{
		text-align:left;
	}
	















        .popup_menu_holder{
        background-color: rgba(0,0,0,0.8);
    }




		.projects_holder article span.text_holder,
		.projects_masonry_holder .text_holder
		{
			background-color: rgba(0,0, 0, 0.45);
		}



	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz{
		background-color: #ffffff;border-color: #d3d3d3;border-width: 1px;border-style:solid;color: #222222;font-family: Raleway;font-size: 11px;line-height: 20px;font-weight: 600;letter-spacing: 2px;text-transform: uppercase;padding-top: 10px;padding-right: 17px;padding-bottom: 10px;padding-left: 17px;margin-bottom: 15px;	}

	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus,
	.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus,
	.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus{
		color: #222222;background-color: #ffffff;border-color: #222222;	}









	.cf7_custom_style_1 ::-webkit-input-placeholder{
		color: #222222;opacity:1;	}
	.cf7_custom_style_1 :-moz-placeholder{
		color: #222222;opacity:1;	}
	.cf7_custom_style_1 ::-moz-placeholder{
		color: #222222;opacity:1;	}
	.cf7_custom_style_1 :-ms-input-placeholde{
		color: #222222;opacity:1;	}
			.cf7_custom_style_1 input:focus::-webkit-input-placeholder,
		.cf7_custom_style_1 textarea:focus::-webkit-input-placeholder{
		color: #222222;		}
				.cf7_custom_style_1 input:focus:-moz-placeholder,
		.cf7_custom_style_1 textarea:focus:-moz-placeholder{
		color: #222222;		}
				.cf7_custom_style_1 input:focus::-moz-placeholder,
		.cf7_custom_style_1 textarea:focus::-moz-placeholder{
		color: #222222;		}
				.cf7_custom_style_1 input:focus:-ms-input-placeholder,
		.cf7_custom_style_1 textarea:focus:-ms-input-placeholder{
		color: #222222;		}
										.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea{
	height: 140px;
	}



	.qode_search_form_2 input[type="text"],
	.qode_search_form_2 input[type="text"]:focus,
	.qode_search_form_3 input[type="text"],
	.qode_search_form_3 input[type="text"]:focus,
	.fullscreen_search_holder .search_field,
	.fullscreen_search_holder .search_field:focus,
	.qode_search_form input, 
	.qode_search_form input:focus{
		font-family: Raleway, sans-serif;font-size: 24px !important;letter-spacing: 0px;font-weight: 300;font-style: normal;text-transform: none;color: #ffffff    }

	.qode_search_form  input[type="text"]::-webkit-input-placeholder,
	.qode_search_form_2 input[type="text"]::-webkit-input-placeholder,
	.qode_search_form_3 input[type="text"]::-webkit-input-placeholder,
	.fullscreen_search_holder .search_field::-webkit-input-placeholder{
		color: #ffffff;
    }

	.qode_search_form  input[type="text"]::-moz-placeholder,
	.qode_search_form_2 input[type="text"]::-moz-placeholder,
	.qode_search_form_3 input[type="text"]::-moz-placeholder,
	.fullscreen_search_holder .search_field::-moz-placeholder{
		color: #ffffff;
    }

	.qode_search_form  input[type="text"]::-moz-placeholder,
	.qode_search_form_2 input[type="text"]::-moz-placeholder,
	.qode_search_form_3 input[type="text"]::-moz-placeholder,
	.fullscreen_search_holder .search_field::-moz-placeholder{
		color: #ffffff;
    }

	.fullscreen_search_holder .search_label{
		font-family: Raleway, sans-serif;font-size: 24px !important;letter-spacing: 0px;font-weight: 300;font-style: normal;text-transform: none;color: #bebebe    }

	.side_menu_button .search_covers_header,
	.side_menu_button .search_slides_from_header_bottom,
	.side_menu_button .fullscreen_search,
	.side_menu_button .search_slides_from_window_top{
		font-size: 14px !important;
    }

    .qode_search_form_2 .qode_search_submit,
	.qode_search_form_3 .qode_search_close a,
	.fullscreen_search_holder .search_submit,
	.qode_search_form  i,
	.qode_search_form .qode_icon_in_search{
		color: #bebebe;
    }

    .qode_search_form_2 .qode_search_submit:hover,
	.qode_search_form_3 .qode_search_close a:hover,
	.fullscreen_search_holder .search_submit:hover,
    .qode_search_form .qode_icon_in_search:hover{
		color: #ffffff;
    }



    .fullscreen_search_holder .field_holder{
		border-color: #8d8d8d;
    }

    .fullscreen_search_holder .field_holder .line{
		background-color: #ffffff;
    }

    .fullscreen_search_holder .close_container a,
	.fullscreen_search_close,
	.qode_search_form_3 .qode_search_close a,
	.qode_search_form .qode_search_close i,
    .qode_search_form .qode_search_close .qode_icon_in_search{
		color: #bebebe;
    }

    .fullscreen_search_holder .close_container a:hover,
	.fullscreen_search_close:hover,
	.qode_search_form_3 .qode_search_close a:hover,
	.qode_search_form .qode_search_close i:hover,
    .qode_search_form .qode_search_close a:hover .qode_icon_in_search{
		color: #ffffff;
    }

    .fullscreen_search_holder .close_container a,
	.fullscreen_search_close,
	.qode_search_form_3 .qode_search_close,
	.qode_search_form  .qode_search_close i,
    .qode_search_form .qode_search_close .qode_icon_in_search{
		font-size: 18px !important;
    }


	.qode_search_form_2,
	.qode_search_form_2 input[type="text"],
	.qode_search_form_2 input[type="text"]:focus,
	.qode_search_form_3,
	.qode_search_form_3 input[type="text"],
	.qode_search_form_3 input[type="text"]:focus,
	.fullscreen_search_overlay,
	.fullscreen_search_holder.fade,
	.qode_search_form,
	.qode_search_form input, 
	.qode_search_form input:focus{
		background-color: rgba(0,0,0,0.8);
    }


	.title .separator { background-color: #ffffff; }
	
































    #back_to_top span i{
    	color: #222222;
	}
    #back_to_top:hover span i{
    	color: #ffffff;
	}

    #back_to_top span i{
    	line-height: 53px;
	}
	#back_to_top span{
		background-color: rgba(255,255,255,0);border-color: rgba(34,34,34,0.2);border-width:1px;border-style: solid;border-radius:0px;height:53px;line-height:53px;width:53px	}
	#back_to_top:hover span{
		background-color: rgba(26,188,156,1);border-color: rgba(26,188,156,1)	}
























	.caroufredsel-direction-nav a,
	.qode_image_gallery_no_space .controls a.prev-slide span,
	.qode_image_gallery_no_space .controls a.next-slide span,
	.portfolio_slider .caroufredsel-next,
	.portfolio_slider .caroufredsel-prev,
	.blog_slider .caroufredsel-next,
	.full_width .section_inner .blog_slider .caroufredsel-next,
	.blog_slider .caroufredsel-prev,
	.full_width .section_inner .blog_slider .caroufredsel-prev{
	width: 53px; height: 53px; margin-top: 0; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); line-height: 53px; background-color: rgba(255,255,255,1); border-color: rgba(255,255,255,1); border-width: 0px; border-style: solid; border-radius: 0px	}
	.caroufredsel-direction-nav a:hover,
	.qode_image_gallery_no_space .controls a.prev-slide:hover span,
	.qode_image_gallery_no_space .controls a.next-slide:hover span,
	.portfolio_slider:hover .caroufredsel-direction-nav a.caroufredsel-next:hover,
	.portfolio_slider:hover .caroufredsel-direction-nav a.caroufredsel-prev:hover,
	.blog_slider:hover .caroufredsel-direction-nav a.caroufredsel-next:hover,
	.blog_slider:hover .caroufredsel-direction-nav a.caroufredsel-prev:hover{
	background-color: rgba(34,34,34,1); border-color: rgba(255,255,255,1)	}
	.caroufredsel-direction-nav a i,
	.qode_image_gallery_no_space .controls a.prev-slide i,
	.qode_image_gallery_no_space .controls a.next-slide i{
	line-height: 53px; font-size: 22px; color: rgba(34,34,34,1)	}
	.caroufredsel-direction-nav a:hover i,
	.qode_image_gallery_no_space .controls a.prev-slide:hover i,
	.qode_image_gallery_no_space .controls a.next-slide:hover i,
	.portfolio_slider:hover .caroufredsel-direction-nav a.caroufredsel-next:hover i,
	.portfolio_slider:hover .caroufredsel-direction-nav a.caroufredsel-prev:hover i,
	.blog_slider:hover .caroufredsel-direction-nav a.caroufredsel-next:hover i,
	.blog_slider:hover .caroufredsel-direction-nav a.caroufredsel-prev:hover i{
	color: rgba(255,255,255,1)	}
	.caroufredsel-direction-nav a.caroufredsel-prev,
	.qode_image_gallery_no_space .controls a.prev-slide span,
	.portfolio_slider .caroufredsel-prev,
	.blog_slider .caroufredsel-prev,
	.full_width .section_inner .blog_slider .caroufredsel-prev{
		left: 0px;
	}

	.qode_image_gallery_no_space .controls a.prev-slide span,
	.qode_image_gallery_no_space .controls a.next-slide span{
		margin-left: 0;
		margin-right: 0;
	}

	.qode_image_gallery_no_space .controls a.next-slide span{
		left: auto;
	}

	.qode_image_gallery_no_space .controls a.next-slide{
		right: 0;
	}

	.caroufredsel-direction-nav a.caroufredsel-next,
	.qode_image_gallery_no_space .controls a.next-slide span,
	.portfolio_slider .caroufredsel-next,
	.blog_slider .caroufredsel-next,
	.full_width .section_inner .blog_slider .caroufredsel-next{
		right: 0px;
	}


	.flex-direction-nav a,
	.flexslider .flex-prev,
	.portfolio_slider .flex-prev,
	.flexslider .flex-next,
	.portfolio_slider .flex-next,
	body div.pp_default a.pp_next:after,
	body div.pp_default a.pp_previous:after,
    body a.pp_next:after,
    body a.pp_previous:after,
	.wpb_gallery .wpb_wrapper .wpb_flexslider .flex-direction-nav a{
	width: 53px; height: 53px; margin-top: 0; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); line-height: 53px; background-color: rgba(255,255,255,0.8); border-color: rgba(255,255,255,1); border-width: 0px; border-style: solid; border-radius: 0px;
	transition: all 0.15s ease-in-out;
	}
	.flex-direction-nav a:hover,
	.flexslider .flex-prev:hover,
	.portfolio_slider .flex-prev:hover,
	.flexslider .flex-next:hover,
	.portfolio_slider .flex-next:hover,
	body div.pp_default a.pp_next:hover:after,
	body div.pp_default a.pp_previous:hover:after,
    body a.pp_next:hover:after,
    body a.pp_previous:hover:after,
	.flexslider:hover .flex-direction-nav a.flex-prev:hover,
	.flexslider:hover .flex-direction-nav a.flex-next:hover,
	.portfolio_slider:hover .flex-direction-nav a.flex-prev:hover,
	.portfolio_slider:hover .flex-direction-nav a.flex-next:hover,
	.wpb_gallery .wpb_flexslider .flex-direction-nav a:hover{
	background-color: rgba(34,34,34,1); border-color: rgba(34,34,34,1)	}
	.flex-direction-nav a i,
    body a.pp_next:after,
    body a.pp_previous:after,
	body div.pp_default a.pp_next:after,
	body div.pp_default a.pp_previous:after{
	line-height: 53px; font-size: 24px; color: rgba(34,34,34,1);
	transition: all 0.15s ease-in-out;
	}
	.flex-direction-nav a:hover i,
	body div.pp_default a.pp_next:hover:after,
	body div.pp_default a.pp_previous:hover:after,
    body a.pp_next:hover:after,
    body a.pp_previous:hover:after,
	.flexslider:hover .flex-direction-nav a.flex-prev:hover i,
	.flexslider:hover .flex-direction-nav a.flex-next:hover i,
	.portfolio_slider:hover .flex-direction-nav a.flex-prev:hover i,
	.portfolio_slider:hover .flex-direction-nav a.flex-next:hover i{
	color: rgba(255,255,255,1)	}
	.flexslider .flex-prev,
	.portfolio_slider .flex-prev,
    body a.pp_previous,
	body div.pp_default a.pp_previous:after{
		left: 0px;
	}

	.flexslider .flex-next,
	.portfolio_slider .flex-next,
    body a.pp_next,
	body div.pp_default a.pp_next:after{
		right: 0px;
	}


    .single_tags a,
    aside.sidebar .widget .tagcloud a,
    .widget .tagcloud a,
    aside.sidebar .widget:not(.woocommerce) .tagcloud a{
    font-family: Raleway, sans-serif;font-size: 11px !important;line-height: 30px;letter-spacing: 1px;font-weight: 600;font-style: normal;text-transform: uppercase;color: #8d8d8d;padding: 0 15px;border-color: #ebebeb;border-width: 1px;border-style: solid;margin: 0 3px 5px 0;display: inline-block    }

    .single_tags a{
    	margin: 0;
	}
    .single_tags a:hover,
    aside.sidebar .widget.widget_tag_cloud .tagcloud a:hover,
    .widget .tagcloud a:hover{
    color: #1abc9c!important;border-color: #1abc9c!important    }
	.widget .tagcloud a:after {
		content: "";
	}

    .masonry_gallery_item.square_big .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.square_small .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_portrait .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }




	aside .widget h5{
	font-family: Raleway;font-size: 15px;line-height: 27px;font-style: normal;font-weight: 600;letter-spacing: 1px;text-transform: uppercase;color: #222222;	}

    aside.sidebar .widget.widget_text,
    aside.sidebar .widget p,
    aside.sidebar .widget div:not(.star-rating) span,
    aside.sidebar .widget li{
	font-family: Raleway;font-size: 13px;line-height: 27px;font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: none;color: #8d8d8d;	}

	aside.sidebar .widget a{
	font-family: Raleway;font-size: 13px;line-height: 19px;font-style: normal;font-weight: 600;letter-spacing: 1px;text-transform: uppercase;color: #222222;	}
	aside.sidebar .widget a:hover{
		color: #1abc9c !important;
	}


